$color-primary: rgba(255, 255, 255, 1);
$color-secondary: rgba(0, 0, 0, 1);
$color-tertiary: rgba(127, 127, 127, 1);
$color-success: rgba(0, 200, 83, 1);
$color-failure: rgba(198, 40, 40, 1);
$color-warning: rgba(255, 109, 0, 1);
