<section class="dialog">
  <div class="dialog__content">
    <header class="dialog__header">
      <h3>{{ title }}</h3>
    </header>
    <div class="dialog__body">
      <span>{{ content }}</span>
      <ng-content></ng-content>
    </div>
    <footer class="dialog__footer">
      <button class="dialog__button dialog__button--dismiss button"
        *ngIf="dismissText" type="button" (click)="cancel()">{{ dismissText }}</button>
      <button class="dialog__button dialog__button--accept button"
        *ngIf="acceptText" type="button" (click)="submit()">{{ acceptText }}</button>
    </footer>
  </div>
  <div class="dialog__backdrop" (click)="cancel()"></div>
</section>
