<section class="list">
  <h3>List</h3>
  <div class="list__message" *ngIf="error">{{ error }}</div>
  <table class="list__table table">
    <tr class="list__row table__row" *ngFor="let item of list" (click)="onSelect(item)">
      <td class="list__cell list__cell--id table__cell">{{ item.id }}</td>
      <td class="list__cell list__cell--name table__cell">{{ item.name }}</td>
      <td class="list__cell list__cell--period table__cell">{{ item.period }}</td>
      <button class="list__button list__button--remove button table__cell"
        (click)="deleteItem(item, $event)">Remove</button>
    </tr>
  </table>
  <button class="list__button list__button--add button" (click)="addItem()">Add New Item</button>
  <ngx-detail class="list__detail" *ngIf="addingItem" (close)="close($event)"></ngx-detail>
</section>
