.list {
  display: flex;
  flex-flow: row wrap;
}
.list-row {
  flex: 1 100%;
}
.list-column {
  flex: 2 50%;
}
.cell {
  margin-bottom: 0.5rem;
  padding-right: 1rem;
}
.list-item {
  cursor: pointer;
}
.list-item:hover {
  color: var(--color-active);
}
.list-item-selected {
  padding-top: 1rem;
}
.list-detail {
  margin-top: 1rem;
}
