<section class="layout">
    <header class="layout__header">
      <h1>{{getTitle()}}</h1>
    </header>
    <nav class="layout__navigation">
      <a class="layout__item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a class="layout__item" routerLink="/list" routerLinkActive="active">List</a>
      <ngx-search></ngx-search>
    </nav>
    <main class="layout__content" id="content">
      <router-outlet></router-outlet>
    </main>
    <footer class="layout__footer" [innerHtml]="currentYear()"></footer>
</section>
