.button {
  padding: 0.5rem 1rem;
  color: $color-secondary;
  background: $color-primary;
  border: 0.0625rem solid $color-secondary;
  border-radius: 0.3125rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $color-primary;
    background: $color-secondary;
  }
}
