<section *ngIf="item" class="detail">
	<h3>{{item.name}} details</h3>
	<div class="table">
		<div class="row">
			<span class="cell">id: </span>
			<span class="cell">{{item.id}}</span>
		</div>
		<div class="row">
			<span class="cell">
				<label for="detail-item-name">name: </label>
			</span>
			<span class="cell">
				<input class="input-text" id="detail-item-name" type="text" [(ngModel)]="item.name" placeholder="name" />
			</span>
		</div>
		<div class="row">
			<span class="cell">
				<label for="detail-item-period">period: </label>
			</span>
			<span class="cell">
				<input class="input-text" id="detail-item-period" type="text" [(ngModel)]="item.period" placeholder="period" />
			</span>
		</div>
	</div>
	<button class="button" (click)="navigateBack()">Back</button>
	<button class="button" (click)="save()">Save</button>
</section>
