.dashboard-heading {
  padding: 1rem;
}
.dashboard-list {
  padding: 1rem;
}
.dashboard-item {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-accent);
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.dashboard-item:hover {
  color: var(--color-background);
  background: var(--color-accent);
}
.dashboard-info {
  margin: 1rem;
  vertical-align: middle;
}
